/* Utility */
.border_radius-50px{
    border-radius: 50px;
}
.border_radius-25px{
    border-radius: 25px;
}
.bg-orange{
    background-color: orangered;
}
.prova{
    width: 50px;
    height: 50px;
    background-color: green;
}

/* Header */
/* Barra Sony nera */
header > div{
    height: 5vh;
}
/* Navbar */
header > nav{
    height: 10vh;
}
/* Section 1 Jumbo */
section:nth-of-type(1){
    height: 85vh;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

/* Section 2 Card */
